<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  </head>
  <body>
    <form id="main">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">ClientID</span>
          <input class="form-control" v-model="config.client_id" disabled>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Scope</span>
          <input class="form-control" v-for="scope in config.scopes" v-model="scope" disabled>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Discovery</span>
          <input class="form-control" v-model="config.discovery" disabled>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">會員資料</span>
          <input class="form-control" v-model="config.list" :disabled="isLoading">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">主日出席</span>
          <input class="form-control" v-for="attendance in config.attendances" v-model="attendance" :disabled="isLoading">
        </div>
      </div>
      <input class="btn btn-secondary" type="button" value="測試" :disabled="canSave||isLoading" onclick="test()">
      <input class="btn btn-secondary" type="button" value="重設" :disabled="isLoading" onclick="info()">
      <input class="btn btn-success" type="submit" value="提交" :disabled="!canSave||isLoading">
      <a href="index.html">回到查詢網頁</a>
    </form>
    <blockquote class="blockquote">
      <pre id="logs"></pre>
    </blockquote>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <!-- Promise -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.4.6/bluebird.min.js"></script>
    <!-- Google sheet -->
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
    <script>
var vm = new Vue({
  el:"#main",
  data:{
    config:{
      client_id: '',
      scopes: [],
      discovery: '',
      list: '',
      attendances: [],
    },
    tested_config:{},
    isLoading:false,
  },
  computed:{
    canSave: function(){
      // can save only if the data is tested
      if(this.config.client_id!=this.tested_config.client_id) return false;
      if(this.config.discovery!=this.tested_config.discovery) return false;
      if(this.config.list!=this.tested_config.list) return false;
      var passed = true;
      for(var i=0;i<this.config.scopes.length;i++) if(this.config.scopes[i]!=this.tested_config.scopes[i]) passed = false;
      for(var i=0;i<this.config.attendances.length;i++) if(this.config.attendances[i]!=this.tested_config.attendances[i]) passed = false;
      return passed;
    },
  },
});
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
var socket = io();

function info(){
  load();
  socket.emit('info');
}
info();
socket.on('info', function(config){
  loadDone();
  vm.config = config;
  vm.tested_config = {};
});

function load(){
  vm.isLoading = true;
  log('載入中...');
}
function loadDone(){
  vm.isLoading = false;
  log('');
}

function test(){
  checkAuth()

    .then(function(){
      load();
      return loadSheetsApi();
    }, Promise.reject)
    
    .then(function(){
      var sheets = [{
        description: "會員資料表",
        sheetId: vm.config.list,
      }, {
        description: "最近的主日出席表",
        sheetId: vm.config.attendances[0],
      }, {
        description: "上一個主日出席表",
        sheetId: vm.config.attendances[1],
      }];
      return Promise.map(sheets, function(sheet){
        if(sheet.sheetId!=''){
          return fetchTitle(sheet.sheetId).then(function(title){
            sheet.title = title;
            return Promise.resolve(sheet);
          }, Promise.reject);
        }
        else{
          return Promise.resolve(sheet);
        }
      });
    }, Promise.reject)
    
    .then(function(sheets){
      loadDone();
      vm.tested_config = deepcopy(vm.config);
      var logs = sheets.map(function(sheet){
        return sheet.description + "： " +
        (sheet.sheetId!=""? sheet.title+" ("+sheet.sheetId+")": '無');
      }).join('\n');
      log(logs + '\n\n確認完畢請按提交！');
    }, function(err){
      loadDone();
      log(err);
    });
}
function deepcopy(obj){
  return JSON.parse(JSON.stringify(obj));
}
function log(logs){
  $('#logs').text(logs);
};
$('#main').on('submit', function(){
  socket.emit('save', vm.config);
});

// google api
var login = false;
function checkAuth() {
  return new Promise(function(resolve, reject){
    gapi.auth.authorize({
      client_id: vm.config.client_id,
      scope: vm.config.scopes.join(' '),
      immediate: login,
    }, function(authResult){
      if (authResult && !authResult.error){
        login = true;
        resolve();
      }
      else{
        login = false;
        reject(authResult.error);
      }
    });
  });
}
function loadSheetsApi() {
  return new Promise(function(resolve, reject){
    gapi.client.load(vm.config.discovery).then(function(){
      resolve();
    }, function(err){
      reject(err);
    });
  });
}
function fetchTitle(sheetId){
  return new Promise(function(resolve, reject){
    gapi.client.sheets.spreadsheets.get({
      spreadsheetId: sheetId,
    }).then(function(response){
      var title = response.result.properties.title;
      resolve(title);
    }, function(response){
      var err = response.result.error.message;
      reject('資料抓取失敗：' + err + ' (' + sheetId + ')');
    });
  });
}
    </script>
  </body>
</html>
