<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css" />
  </head>
  <body>
    <div id="main">
      Stage: {{stage}}
      <form v-if="stage=='display-config'">
        {{config | stringify}}
        <button class="btn btn-secondary" type="button" :disabled="isLoading" onclick="nextStep()">
          修改資料
        </button>
      </form>
      <form v-if="status=='modify-list'">
      </form>
    <!--
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">ClientID</span>
          <input class="form-control" v-model="config.client_id" disabled>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Scope</span>
          <input class="form-control" v-for="scope in config.scopes" v-model="scope" disabled>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Discovery</span>
          <input class="form-control" v-model="config.discovery" disabled>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">會員資料</span>
          <input class="form-control" v-model="config.list" :disabled="isLoading">
          <span class="input-group-btn">
            <button class="btn btn-secondary" @click="openWindow(config.list)">
              <span class="octicon octicon-eye"></span> 查看
            </button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">近期主日出席</span>
          <input class="form-control" v-model="config.attendance_this" :disabled="isLoading">
          <span class="input-group-btn">
            <button class="btn btn-secondary" @click="openWindow(config.attendance_this)">
              <span class="octicon octicon-eye"></span> 查看
            </button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">上期主日出席</span>
          <input class="form-control" v-model="config.attendance_last" :disabled="isLoading">
          <span class="input-group-btn">
            <button class="btn btn-secondary" @click="openWindow(config.attendance_last)">
              <span class="octicon octicon-eye"></span> 查看
            </button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">最後一次有效主日</span>
          <input class="form-control" type="number" v-model="config.year" :disabled="isLoading">
          <span class="input-group-addon">年</span>
          <input class="form-control" type="number" v-model="config.month" :disabled="isLoading">
          <span class="input-group-addon">月</span>
          <input class="form-control" type="number" v-model="config.day" :disabled="isLoading">
          <span class="input-group-addon">日</span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">會員大會倒數第</span>
          <input class="form-control" type="number" v-model="config.latest" :disabled="isLoading">
          <span class="input-group-addon">次主日至倒數第</span>
          <input class="form-control" type="number" v-model="config.earliest" :disabled="isLoading">
          <span class="input-group-addon">次主日</span>
        </div>
      </div>
      <input class="btn btn-secondary" type="button" value="測試" :disabled="canSave||isLoading" onclick="sendTest()">
      <input class="btn btn-secondary" type="button" value="重設" :disabled="isLoading" onclick="sendConfig()">
      <input class="btn btn-success" type="submit" value="提交" :disabled="!canSave||isLoading">
      <a href="index.html">回到查詢網頁</a>
      -->
    </div>
    <blockquote class="blockquote">
      <pre id="logs"></pre>
    </blockquote>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <!-- Promise -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.4.6/bluebird.min.js"></script>
    <!-- Google sheet -->
    <script src="js/console.js"></script>
    <script src="js/google-sheet.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <!-- Socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
    // LOAD
    function load(msg){
      vm.isLoading = true;
      log('載入中... ' + msg);
    }
    function loadDone(msg){
      vm.isLoading = false;
      log(msg);
    }

    // LOG
    function log(logs){
      $('#logs').text(logs);
    };
    </script>

    <script>
    // stage machine
    load('Initialization');
    function init(){
      nextStep();
    }
    init();

    function transferStage(stage){
      vm.stage = stage;
    }

    function nextStep(is_okay, logs){
      switch(vm.stage){
        case 'init':
          transferStage('load-config');
          load('Config');
          sendConfig();
          break;
          /*
        case 'load-config':
          transferStage('display-config');
          loadDone('Done');
          vm.canSave=false;
          break;
        case 'display-config':
          transferStage('modify-list');
          vm.canSave=false;
          break;
        case 'modify-list':
          if(is_okay){
            transferStage('modify-attendance');
            vm.canSave=false;
          }
          else{
            transferStage('load-list');
            load('Load list');
            runTestList(
              vm.config.client_id,
              vm.config.scopes,
              vm.config.discover,
              vm.config.list
            );
          }
          break;
        case 'load-list':
          transferStage('modify-list');
          loadDone(logs);
          vm.canSave=is_okay;
          break;
        case 'modify-attendance':
          if(is_okay){
            transferStage('load-dates');
            load('Load dates');
            loadDates(vm.config.attendances[0]);
          }
          else{
            transferStage('load-attendance');
            load('Load attendance');
            loadAttendance(vm.config.attendances[0]);
          }
          break;
        case 'load-attendance':
          transferStage('modify-attendance');
          loadDone(logs);
          vm.canSave=is_okay;
        case 'load-dates':
          if(is_okay){
            transferStage('read-base-date');
            loadDone('Read base date');
          }
          else{
            transferStage('modify-attendance');
            vm.canSave=false;
          }
          break;
        case 'read-base-date':
          transferStage('read-num-dates');
          break;
        case 'read-num-dates':
          transferStage('select-dates');
          load('Select dates');
          selectedDates();
          break;
        case 'select-dates':
          if(is_okay){
            transferStage('display-dates');
            loadDone('Display dates');
          }
          else{
            transferStage('modify-more-attendances');
          }
          break;
        case 'modify-more-attendance':
          if(is_okay){
            transferStage('load-more-dates');
            load('Load more dates');
            loadDates(vm.config.attendances[vm.config.attendances.length-1]);
          }
          else{
            transferStage('load-more-attendances');
            load('Load more attendnaces');
            vm.canSave=false;
          }
          break;
        case 'load-more-attendances':
          transferStage('modify-more-attendances');
          loadDone(logs);
          vm.canSave=is_okay;
          break;
        case 'load-more-dates':
          if(is_okay){
            transferStage('concat-dates');
            loadDone('Concatenate dates');
          }
          else{
            transferStage('modify-more-attendances');
            loadDone('Modify more attendances');
            vm.canSave=false;
          }
          break;
        case 'concat-dates':
          transferStage('select-dates');
          break;
        case 'display-dates':
          if(is_okay){
            transferStage('display-config');
            vm.canSave=true;
          }
          else{
            transferStage('read-num-dates');
          }
          */
        default:
          alert('Unknown stage');
          throw 'Unknown stage';
      }
    }
    </script>
    <script>
    var socket = io();

    // CONFIG
    function sendConfig(){
    alert('');
      socket.emit('config');
    }
    socket.on('config', function(config){
      vm.config = config;
      nextStep();
    });

/*

      function logTitles(sheets){
        var logs = sheets.map(function(sheet){
          var titleText;
          if(sheet.sheetId==="") titleText = '無';
          else if(sheet.title!==undefined) titleText = sheet.title;
          else if(sheet.err) titleText = '資料抓取失敗：' + sheet.err + ' (' + sheet.sheetId + ')';
          else throw "Unexpected titleText";
          return sheet.description + "： " + titleText;
        }).join('\n');

        if(sheets.filter(function(sheet){
          return sheet.title===undefined;
        }).length==0){
          vm.tested_config = deepcopy(vm.config);
          logs += '\n\n確認完畢請按提交！';
        }
        log(logs);
      }

      // DEEPCOPY
      function deepcopy(obj){
        return JSON.parse(JSON.stringify(obj));
      }

      // SAVE
      $('#main').on('submit', function(){
        if(vm.isLoading || !vm.canSave) return false;
        socket.emit('save', config);
        return true;
      });

*/
    </script>
  </body>
</html>
