<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css" />
  </head>
  <body>
    <div id="main">
      <pre>Stage: {{stage_label}}</pre>
      <form v-if="stage=='display-config'">
        <button class="btn btn-secondary" type="button" :disabled="isLoading" onclick="nextStep()">
          修改資料
        </button>
      </form>
      <form v-if="stage=='modify-list'||stage=='load-list'">
        <div class="input-group">
          <span class="input-group-addon">
            {{whichSheetId | whichSheetIdText}}
          </span>
          <input class="form-control" v-model="sheetId" :disabled="isLoading">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" :disabled="isLoading" onclick="nextStep(false)">
              測試
            </button>
            <button class="btn btn-secondary" type="button" :disabled="isLoading||!canCommitSheetId" onclick="nextStep(true)">
              提交
            </button>
          </span>
        </div>
      </form>
    <!--
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">ClientID</span>
          <input class="form-control" v-model="config.client_id" disabled>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Scope</span>
          <input class="form-control" v-for="scope in config.scopes" v-model="scope" disabled>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Discovery</span>
          <input class="form-control" v-model="config.discovery" disabled>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">會員資料</span>
          <input class="form-control" v-model="config.list" :disabled="isLoading">
          <span class="input-group-btn">
            <button class="btn btn-secondary" @click="openWindow(config.list)">
              <span class="octicon octicon-eye"></span> 查看
            </button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">近期主日出席</span>
          <input class="form-control" v-model="config.attendance_this" :disabled="isLoading">
          <span class="input-group-btn">
            <button class="btn btn-secondary" @click="openWindow(config.attendance_this)">
              <span class="octicon octicon-eye"></span> 查看
            </button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">上期主日出席</span>
          <input class="form-control" v-model="config.attendance_last" :disabled="isLoading">
          <span class="input-group-btn">
            <button class="btn btn-secondary" @click="openWindow(config.attendance_last)">
              <span class="octicon octicon-eye"></span> 查看
            </button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">最後一次有效主日</span>
          <input class="form-control" type="number" v-model="config.year" :disabled="isLoading">
          <span class="input-group-addon">年</span>
          <input class="form-control" type="number" v-model="config.month" :disabled="isLoading">
          <span class="input-group-addon">月</span>
          <input class="form-control" type="number" v-model="config.day" :disabled="isLoading">
          <span class="input-group-addon">日</span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">會員大會倒數第</span>
          <input class="form-control" type="number" v-model="config.latest" :disabled="isLoading">
          <span class="input-group-addon">次主日至倒數第</span>
          <input class="form-control" type="number" v-model="config.earliest" :disabled="isLoading">
          <span class="input-group-addon">次主日</span>
        </div>
      </div>
      <input class="btn btn-secondary" type="button" value="測試" :disabled="canSave||isLoading" onclick="sendTest()">
      <input class="btn btn-secondary" type="button" value="重設" :disabled="isLoading" onclick="sendConfig()">
      <input class="btn btn-success" type="submit" value="提交" :disabled="!canSave||isLoading">
      <a href="index.html">回到查詢網頁</a>
      -->
      <blockquote class="blockquote">
        <pre>
{{stage_label | staticLogs}}
{{logs}}
        </pre>
      </blockquote>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <!-- Promise -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.4.6/bluebird.min.js"></script>
    <!-- Google sheet -->
    <script src="js/console.js"></script>
    <script src="js/google-sheet.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <!-- Stages -->
    <script src="js/stages.js"></script>
    <script>
    function nextStage(is_okay, logs){
      var stage = stages[vm.stage_label];
      var i = is_okay?1:0;
      stage.to[i].beforeNext(logs);
      var next_label = stage.to[i].label;
      var next_stage = stages[next_label];
      if(next_stage){
        vm.stage_label = next_label;
        next_stage.action();
      }
      else{
        throw 'Stage "'+next_label+'" not found';
      }
    }
    </script>
    <!-- Socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
    var vm = new Vue({
      el:"#main",
      data:{
        stage_label: '',
        isLoading:true,
        logs: '',

        config:{},
        tested_config:{},

        sheetId:'',
        whichSheetId:'',
      },
      computed:{
        canSave:function(){
          return JSON.stringify(this.config)===JSON.stringify(this.tested_config);
        },
        canCommitSheetId:function(){
          if(Array.isArray(this.tested_config[this.whichSheetId])){
            var n = this.tested_config.length;
            return this.sheetId==this.tested_config[this.whichSheetId][n-1];
          }
          else{
            return this.sheetId==this.tested_config[this.whichSheetId];
          }
        },
      },
      /*
      computed:{
        canSave: function(){
          // can save only if the data is tested
          var config = this.config;
          var tested_config = this.tested_config;
          try{
            Object.keys(config).forEach(function(k){
              if(typeof config[k]=='string'){
                if(config[k]!=tested_config[k]) throw "Not passed";
              }
              if(Array.isArray(config[k])){
                config[k].forEach(function(v, i){
                  if(config[k][i]!=tested_config[k][i]) throw "Not passed";
                });
              }
            });
          }catch(err){
            return false;
          }
          return true;
        },
      },
      methods:{
        openWindow: function(sheetId){
          var url = 'https://docs.google.com/spreadsheets/d/' + sheetId;
          window.open(url, '', '');
        },
      },
      */
    });

    Vue.filter('whichSheetIdText', function(whichSheetId){
      switch(whichSheetId){
        case 'list': return '會員資料表';
        case 'attendances': return '主日出席表';
        default: return '';
      }
    });

    Vue.filter('staticLogs', function(stage_label){
      switch(stage_label){
        case 'display-config': return 'Displaying config';
        default: return '';
      }
    });
    </script>
    <script>
    function log(logs){
      $('#logs').text(logs);
    };
    function load(msg){
      vm.isLoading = true;
      log('載入中... ' + msg);
    }
    function loadDone(msg){
      vm.isLoading = false;
      log(msg);
    }
    </script>

    <script>
    var socket = io();

    // CONFIG
    function sendConfig(){
      socket.emit('config');
    }
    socket.on('config', function(config){
      //TODO
      vm.config.api = {
        client_id: config.client_id,
        scopes: config.scopes,
        discovery: config.discovery,
      };
      vm.config.list = config.list;
      vm.config.attendances = [
        config.attendance_this,
        config.attendance_last,
      ];
      vm.tested_config = {
        api:{},
        list:'',
        attendances:[],
      };
      ///////

      nextStage();
    });
    
    function resetConfig(){
      vm.tested_config = {};
    }
/*

      function logTitles(sheets){
        var logs = sheets.map(function(sheet){
          var titleText;
          if(sheet.sheetId==="") titleText = '無';
          else if(sheet.title!==undefined) titleText = sheet.title;
          else if(sheet.err) titleText = '資料抓取失敗：' + sheet.err + ' (' + sheet.sheetId + ')';
          else throw "Unexpected titleText";
          return sheet.description + "： " + titleText;
        }).join('\n');

        if(sheets.filter(function(sheet){
          return sheet.title===undefined;
        }).length==0){
          vm.tested_config = deepcopy(vm.config);
          logs += '\n\n確認完畢請按提交！';
        }
        log(logs);
      }

      // DEEPCOPY
      function deepcopy(obj){
        return JSON.parse(JSON.stringify(obj));
      }

      // SAVE
      $('#main').on('submit', function(){
        if(vm.isLoading || !vm.canSave) return false;
        socket.emit('save', config);
        return true;
      });

*/
    </script>
    <script>
    load('Initialization');
    function init(){
      vm.stage_label = 'init';
      nextStage();
    }
    init();
    </script>
  </body>
</html>
