<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css" />
        <link rel="stylesheet" href="css/index.css" />
    </head>
    <body>
        <div id="main" class="container-fluid">
            <p class="text-xs-right">
            <em v-if="canSave">尚未儲存資料，請按儲存以確認變更</em>
            <button class="btn btn-success" :disabled="!canSave" @click="save">儲存</button>
            <button class="btn btn-danger" :disabled="!canSave" @click="reset">重置</button>
            <button class="btn btn-primary" @click="gotoIndex"><span class="octicon octicon-home"></span> 回首頁</button>
            </p>
            <p>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#sheets">Google sheet settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#api">API configures</a>
                </li>
            </ul>
            </p>
            <div class="tab-content">
                <div class="tab-pane" id="api">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Client ID</span>
                        <input class="form-control" v-model="config.api.client_id" disabled>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Scopes</span>
                        <input class="form-control" v-for="scope in config.api.scopes" v-model="scope" disabled>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Discovery</span>
                        <input class="form-control" v-model="config.api.discovery" disabled>
                    </div>
                </div>
                <div class="tab-pane active" id="sheets">
                    <div class="card">
                        <div class="card-header">
                            {{text.list}}{{config.list.title? ' : ' + config.list.title: ''}}
                        </div>
                        <div class="card-block">
                            <div class="form-group input-group">
                                <span class="input-group-btn">
                                    <button :class="['btn', isEdit('list')?'btn-success':'btn-secondary']" @click="edit('list', true)" :disabled="isEdit() && !isEdit('list')">
                                        <span class="octicon octicon-pencil"></span> {{editText('list')}}
                                    </button>
                                </span>
                                <input class="form-control" v-model="config.list.sheetId" :disabled="!isEdit('list')">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" @click="gotoSheet(config.list.sheetId)">
                                        <span class="octicon octicon-eye"></span> {{text.view}}
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <p class="alert alert-info">
                        已選取 {{n_sel_dates}} 個主日
                    </p>
                    <div class="card" v-for="(i, attendances_dates) in config.attendances_dates">
                        <div class="card-header">
                            {{text.attend}}{{attendances_dates.title? ' : ' + attendances_dates.title: ''}}
                        </div>
                        <div class="card-block">
                            <div class="form-group input-group">
                                <span class="input-group-btn">
                                    <button :class="['btn', isEdit('attendances_dates['+i+']')?'btn-success':'btn-secondary']" @click="edit('attendances_dates['+i+']', true, modDates(i))" :disabled="isEdit()&&!isEdit('attendances_dates['+i+']')">
                                        <span class="octicon octicon-pencil"></span> {{editText('attendances_dates['+i+']')}}
                                    </button>
                                </span>
                                <input class="form-control" v-model="attendances_dates.sheetId" :disabled="!isEdit('attendances_dates['+i+']')">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" @click="gotoSheet(attendances_dates.sheetId)">
                                        <span class="octicon octicon-eye"></span> {{text.view}}
                                    </button>
                                </span>
                            </div>
                            <div class="btn-group">
                                <button :class="['btn', isEdit('attend_sheet_'+i+'_date')?'btn-success':'btn-secondary']" @click="edit('attend_sheet_'+i+'_date', false)" :disabled="isEdit()&&!isEdit('attend_sheet_'+i+'_date')">
                                    <span class="octicon octicon-pencil"></span> {{editText('attend_sheet_'+i+'_date')}}
                                </button>
                                <button v-for="date in attendances_dates.dates" :class="['btn', 'btn-secondary', {'active':!date.sel}]" @click="date.sel=!date.sel" :disabled="!isEdit('attend_sheet_'+i+'_date')">
                                    <span :class="['octicon', date.sel?'octicon-check':'octicon-x']"></span> {{date.text}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-secondary" @click="addAttendancesSheet"><span class="octicon octicon-plus"></span> 新增更多主日出席表</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://malsup.github.io/jquery.corner.js"></script>
        <!-- Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
        <!-- Promise -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.4.6/bluebird.min.js"></script>
        <!-- Vue -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
        <script>
var app = new Vue({
    el: '#main',
    data: {
        init_config: {
        },
        config: {
        },
        editing: '',
        text: {
            list: '會員資料表',
            attend: '主日出席表',
            edit: '修改',
            save: '確定',
            view: '開啟資料表',
        },
        index_url: 'index.html',
    },
    computed: {
        canSave: function(){
            return !this.isEdit() && !deepequal(this.config, this.init_config);
        },
        n_sel_dates: function(){
            return this.config.attendances_dates.reduce(function(a, b){
                return a + b.dates.reduce(function(c, d){
                    return c + (d.sel? 1: 0);
                }, 0);
            }, 0);
        },
    },
    methods: {
        isEdit: function(target){
            if(target === undefined) return this.editing !== '';
            return this.editing === target;
        },
        edit: function(target, toGetTitle, nextStep){
            if(this.isEdit(target)){
                this.editing = '';
                if(toGetTitle){
                    Loading.on('Load sheet title');
                    runGoogleAuth(
                        this.config.api.client_id,
                        this.config.api.scopes,
                        false
                    ).then(function(){
                        return runGetTitle(eval('app.config.'+target+'.sheetId')).then(function(title){
                            app.$set('config.'+target+'.title', title);
                        }).catch(function(err){
                            app.$set('config.'+target+'.title', err);
                        });
                    }).then(function(){
                        /* TODO: not tested */
                        if(nextStep) return nextStep();
                    }).catch(function(err){
                        log(err);
                        return;
                    }).then(function(){
                        Loading.off();
                    });
                }
            }
            else{
                this.editing = target;
            }
        },
        editText: function(target){
            return this.isEdit(target)? this.text.save: this.text.edit;
        },
        /* TODO: not tested */
        modDates: function(i){
            return function(){
                /* TODO: rename attendnaces_dates */
                var attendance_dates = this.config.attendances_dates[i];
                var init_attendance_dates = this.init_config.attendances_dates[i];
                return runGetAttendances(attendance_dates.sheetId, true).then(function(dates){
                    var as_init = attendance_dates.sheetId === init_attendnace_dates.sheetId;
                    for(var j in dates){
                        var date = dates[j];
                        app.$set('config.attendances_dates[' + i + '].dates[' + j + '].text', date);
                        app.$set('config.attendances_dates[' + i + '].dates[' + j + '].sel',
                            as_init? init_attendnace_dates.dates[j].sel: true
                        );
                    }
                }).catch(function(err){
                    app.$set('config.attendance_dates[' + i + '].dates', []);
                });
            }.bind(this);
        },
        save: function(){
            if(confirm('Are you sure to save?')){
                sendSave(this.config);
            }
        },
        reset: function(){
            if(confirm('Are you sure to reset?')){
                this.config = deepcopy(this.init_config);
            }
        },
        gotoIndex: function(){
            if(this.isEdit() && !confirm('You are editting. Are you sure to leave?')){
                return;
            }
            if(this.canSave && !confirm('You have not saved. Are you sure to leave?')){
                return;
            }
            document.location = this.index_url;
        },
        gotoSheet: function(sheetId){
            const url = 'https://docs.google.com/spreadsheets/d/' + sheetId;
            window.open(url);
        },
        addAttendancesSheet: function(){
            log('This funcion has not completed yet');
        },
    },
});
        </script>
        <!-- Scripts -->
        <script src="js/log.js"></script>
        <script src="js/loading.js"></script>
        <script>
function deepcopy(x){ return JSON.parse(JSON.stringify(x)) }
function deepequal(a, b){ return JSON.stringify(a) === JSON.stringify(b) }
function init(){
    Loading.on('Load config');
    $.getJSON('config.json', function(json){
        app.init_config = json;
        app.config = deepcopy(app.init_config);

        // start promise chain
        Loading.on('Load Google authentication');
        runGoogleAuth(
                app.config.api.client_id,
                app.config.api.scopes,
                false
                ).then(function(){
            Loading.on('Load Google sheet API');
            return runLoadSheetsApi(app.config.api.discovery);
        }).then(function(){
                    Loading.on('Load list title');
                    return runGetTitle(app.config.list.sheetId);
                }).then(function(title){
            app.$set('config.list.title', title);
            Loading.on('Load attendance titles');
            return Promise.map(app.config.attendances_dates, function(attendance_dates){
                return runGetTitle(attendance_dates.sheetId);
            });
        }).then(function(titles){
            for(var i in titles){
                var title = titles[i];
                app.$set('config.attendances_dates[' + i + '].title', title);
            }
            Loading.on('Load attendance dates');
            return Promise.map(app.config.attendances_dates, function(attendance_dates){
                return runGetAttendances(attendance_dates.sheetId, true);
            });
        }).then(function(many_dates){
            for(var i in many_dates){
                var dates = many_dates[i];
                for(var j in dates){
                    var date = dates[j];
                    app.$set('config.attendances_dates[' + i + '].dates[' + j + '].text', date);
                }
            }
            Loading.off();
        }).catch(function(err){
            Loading.off(err);
        });
    });
}
        </script>
        <!-- Socket IO -->
        <script src="/socket.io/socket.io.js"></script>
        <script>
var socket = io();
function sendSave(config){
    socket.emit('save', config);
}
socket.on('saved', function(){
    app.init_config = app.config;
    app.config = deepcopy(app.init_config);
});
        </script>
        <!-- Google sheet -->
        <script src="js/google-sheet.js"></script>
        <script src="https://apis.google.com/js/client.js?onload=init"></script>
    </body>
</html>
